/* 统一的节点 Handle 样式 */
.workflow-node {
  /* Handle 基础样式 - 默认隐藏/最小化 */
  .vue-flow__handle.custom-handle {
    width: 0px !important;
    height: 0px !important;
    border-radius: 50% !important;
    opacity: 0;
    transition: none;
    // border: none;
    // min-width: 0;
    // min-height: 0;
  }

  /* 激活状态（Hover 或 Selected 或强制显示） */
  &.handles-visible {
    // .vue-flow__handle.custom-handle {
    //     opacity: 1;
    // }

    /* 源节点 (Right) 样式 */
    .vue-flow__handle.custom-handle-source {
      content: '+';
      font-size: 14px;
      color: #9ca3af;

      // right: -1px !important;
      width: 20px !important;
      height: 20px !important;
      opacity: 1;
      border: 2px solid #9ba0a1 !important;
      background: #fff;
      /* 默认位置修正，BaseNode 和多数节点通常在这个位置 */
    }

    /* 目标节点 (Left) 样式 */
    .vue-flow__handle.custom-handle-target {
      width: 2px !important;
      height: 2px !important;
      background: #9ba0a1 !important;
      pointer-events: auto !important;
      /* 确保能接收鼠标事件 */
      opacity: 1;
      /* 确保伪元素相对于 handle 定位 */

      /* 扩大点击区域 */
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50px;
        height: 50px;
        background: transparent;
        border-radius: 50%;
        z-index: 10;
      }
    }

    /* 加号样式 (无连接时显示) */
    .vue-flow__handle.custom-handle.handles-visible::after {
      content: '+';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 16px;
      font-weight: 800;
      color: #9ca3af;
    }
  }
}

/* 折叠面板箭头左对齐 */
.workflow-collapse {
  // 让箭头更靠左,视觉层级更高
  :deep(.n-collapse-item__header-main) {
    margin-left: -8px;
  }
}

/* 操作按钮统一样式 */
.workflow-btn {
  &-add,
  &-remove {
    .svg-icon {
      font-size: 1rem;
    }
  }
}
